/* styles.css */

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: dodger blue;
}

.container {
	width: 500px;
	margin: 50px auto;
	text-align: center;	
}

.backgroundImage {
	background-image: url(../img/wrench.png);
	width: 400px;
	height: 400px;
}

.backgroundImage:hover {
	background-image: url(../img/clock.png);
	cursor: crosshair;
}	

h1 {
font-family: "Alegreya Sans", sans-serif;
}
