/* styles.css */

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: dodger blue;
}

.container {
	width: 500px;
	margin: 50px auto;
	text-align: center;
	
}

h1 {
font-family: "Alegreya Sans", sans-serif;
}
